body { 
  text-align: center;
  background-color: black;
}

.title {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-weight: normal;
  color: white;
  font-size: 50px;
  text-align: center;
}

.title2 {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-weight: 300;
  color: white;
  font-size: 42px;
  text-align: center;
}

.subtitle {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-weight: 300;
  color: gray;
  font-size: 21px;
  text-align: center;
}

.links {
  margin: 12px 4px;
  color: aquamarine;
  font-size: 16px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.rights {
  text-align: right;
  color: gray;
  font-size: 22px;
  margin: 10 10px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

img {
  margin: 24px auto; 
  display: block;
  text-align: center;
}

