body { 
  text-align: center;
  background-image: linear-gradient(to top, #051937, #452a54, #843860, #ba525a, #da7c4a);
  background-color: black;
}

video {
  margin: 12px;
  border: solid 8px  #452a54cc;
  border-radius: 24px;
}

.title {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-weight: normal;
  color: black;
  font-size: 50px;
  text-align: center;
  text-shadow: #ba525a 0px 3px 12px;
}

.title2 {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-weight: 300;
  color: black;
  text-shadow: #ba525a;
  font-size: 42px;
  text-align: center;
  text-shadow: #ba525a 0px 3px 12px;
}

.subtitle {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-weight: 300;
  color: white;
  font-size: 21px;
  text-align: center;
}

.links {
  margin: 12px 4px;
  color: white;
  font-size: 16px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.rights {
  text-align: right;
  color: white;
  font-size: 22px;
  margin: 10 10px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

img {
  margin: 24px auto; 
  display: block;
  text-align: center;
  border: solid 8px  #452a54cc;
  border-radius: 24px;
}

